@import '../variables.css';

.title {
  margin: 0 auto;
  margin-bottom: 55px;
  padding: 0 184px;
  width: 265px;
  position: relative;
  font-family: 'Roboto-bold';
  text-transform: uppercase;
  font-size: 60px;
  line-height: 70px;
  color: var(--basic-orange);
}

.title::before,
.title::after {
  content: '';
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 156px;
  height: 4px;
  background-color: var(--basic-orange);
}

.title::before {
  left: 0;
}

.title::after {
  right: 0;
}
