@import './variables.css';

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;

  src: local('Roboto'), url('../src/fonts/roboto-regular.ttf');
}

@font-face {
  font-family: 'Roboto-bold';
  font-style: normal;
  font-weight: 700;
  font-display: swap;

  src: local('Roboto-bold'), url('../src/fonts/roboto-bold.ttf');
}

a {
  text-decoration: none;
  color: var(--basic-white);
}

img {
  max-width: 100%;
  height: auto;
}

.hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.page {
  height: 100%;
  background-color: var(--basic-background-black);
  color: var(--basic-white);
  font-family: 'Roboto', sans-serif;
}

.page-body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#root {
  height: 100%;
}

.App {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}
